cadence/transactions/generated
generated
lib/cadut-generated

# dependencies
node_modules

# production
/web/build
/api/dist
dist

# misc
.DS_Store

# .env files
.env
.env.mainnet
.env.example
.env.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env
.vscode
.exrc
.eslintcache
.idea/

# emulator datastore
flowdb
testnet-account.pkey
mainnet-account.pkey
testnet-levels-account.pkey
mainnet-levels-account.pkey
testnet-account.pkey
testnet-levels-account.pkey
mainnet-account.pkey
mainnet-levels-account.pkey
*.pkey